<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Apple Variety Classifier</title>
</head>

<body>

    <h1>Apple Variety Classifier</h1>

    <p>Upload an image of an apple.</p>

    <form method="POST" enctype="multipart/form-data">

        <input
            type="file"
            name="image"
            accept="image/*"
            required
        >

        <button type="submit">
            Classify
        </button>

    </form>

    {% if prediction %}
        <h2>{{ prediction }}</h2>
    {% endif %}

</body>
</html>
